@use "../base/" as *;

$navLineHeight: 50px;
$marginNav: 84px;

#navbar {
  height: $marginNav;
}

.customNav {
  width: 75%;

  a {
    color: black;
    line-height: $navLineHeight;
    padding: 0;
    font-weight: 500;

    &:hover {
      color: black;
    }
  }

  .navbar-brand:hover {
    color: inherit;
  }

  .btn {
    height: 45px;
    padding: 0;
    line-height: 45px;
  }

  .bi {
    font-size: 30px;
  }

  .list {
    display: none;
  }

  .dropdown {
    position: static;
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0px;
    height: 100vh;

    a:hover {
      color: black;
    }

    .menuSignIn,
    .menuPricing {
      display: none;
    }
  }
}

.logo {
  height: 50px;
  width: 50px;
  line-height: $navLineHeight;
}

// 1399.98px
@media (max-width: $xxl) {
  .customNav {
    width: 85%;
  }
}

// 1199.98px
@media (max-width: $xl) {
  .customNav {
    width: 95%;
  }
}

// 991.98px
@media (max-width: $lg) {
  .customNav {
    .navHide {
      display: none;
    }

    .list {
      display: block;
    }
  }
}

// 575.98px
@media (max-width: $sm) {
  .customNav {
    .user,
    .btn {
      display: none;
    }

    .dropdown-menu {
      .menuSignIn,
      .menuPricing {
        display: block;
      }
    }
  }
}
