@use "../base/" as *;
@use "../components/" as *;

.checkoutCon {
  margin-top: $marginNav;
  overflow-x: hidden;

  #leftSide {
    padding-top: 8px;
  }

  .plan {
    font-size: small;
    margin-left: 37px;
  }

  label[for="email"] {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  label {
    font-size: small;
    font-weight: 500;
  }

  .dropdown {
    .btnDropdown.active.focus,
    .btnDropdown.active:focus,
    .btnDropdown.focus,
    .btnDropdown:active.focus,
    .btnDropdown:active:focus,
    .btnDropdown:focus {
      outline: none;
      box-shadow: none;
      background-color: white;
    }
  }

  // 1399.98px
  @media (max-width: $xxl) {
  }

  // 1199.98px
  @media (max-width: $xl) {
  }

  //991.98px
  @media (max-width: $lg) {
    height: 1076px;
    margin-top: $marginNav;
  }

  // 767.98px
  @media (max-width: $md) {
  }

  // 575.98px
  @media (max-width: $sm) {
    .dropdown-menu {
      div {
        padding: 10px !important;
        width: 100% !important;
      }

      .creditDiv,
      .d-grid {
        padding: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      .d-flex {
        flex-direction: column;
      }
    }
  }
}