@use "../base/" as *;
@use "../components/" as *;

.pricingCon {
  .hero {
    max-width: 700px;
    margin-top: $marginNav;
  }

  .cardsCon {
    max-width: 1513px;

    .card {
      max-width: 500px;
    }
  }
}
