@use "../components/" as *;

.supportMain {
  margin-top: $marginNav;
  height: 800px;

  .searchCon {
    .form {
      position: relative;
    }

    .form .bi-search {
      position: absolute;
      top: 17px;
      left: 18px;
      color: #9ca3af;
    }

    .form span {
      position: absolute;
      right: 15px;
      top: 13px;
      padding: 2px;
      border-left: 1px solid #d1d5db;
    }

    .left-pan {
      padding-left: 7px;
    }

    .left-pan i {
      padding-left: 10px;
    }

    .form-input {
      height: 55px;
      text-indent: 33px;
      border-radius: 10px;
      box-shadow: none;
      border: none;
    }

    .col-md-6 {
      margin-top: 100px;

      h1 {
        width: fit-content;
      }
    }
  }

  .bubbleCon {
    .bubble {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: inline-block;
      box-shadow: 5px 5px rgb(51, 51, 51);

      .bi {
        font-size: 80px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
    }

    .btn:hover {
        color: black !important;
    }

    .bubbleDiv {
        width: 150px;
        margin: auto !important;
    }
  }
}
