@use "../base/" as *;
@use "../components/" as *;

.supportMain {
  margin-top: $marginNav;

  .searchCon {
    .form {
      position: relative;
    }

    .form .bi-search {
      position: absolute;
      top: 17px;
      left: 18px;
      color: #9ca3af;
    }

    .form span {
      position: absolute;
      right: 15px;
      top: 13px;
      padding: 2px;
      border-left: 1px solid #d1d5db;
    }

    .left-pan {
      padding-left: 7px;
    }

    .left-pan i {
      padding-left: 10px;
    }

    .form-input {
      height: 55px;
      text-indent: 33px;
      border-radius: 10px;
      box-shadow: none;
      border: none;
    }

    .col-md-6 {
      margin-top: 100px;

      h1 {
        width: fit-content;
      }
    }

    .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display: inline-block;
    }

    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }

    input[type="text"] {
      background-color: #f1f1f1;
      width: 100%;
    }

    input[type="submit"] {
      background-color: $primary;
      color: #fff;
    }

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
      border-radius: 10px;
      background-color: white;
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
      border-radius: 10px;
    }

    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }

    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: $primary !important;
      color: #ffffff;
    }
  }

  .bubbleCon {
    padding-bottom: 100px !important;

    .bubble {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: inline-block;
      box-shadow: 5px 5px rgb(51, 51, 51);

      .bi {
        font-size: 80px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
    }

    .btn:hover {
      color: black !important;
    }

    .bubbleDiv {
      width: 150px;
      margin: auto !important;
    }
  }

  // 1399.98px
  @media (max-width: $xxl) {
  }

  // 1199.98px
  @media (max-width: $xl) {
  }

  //991.98px
  @media (max-width: $lg) {
    .bubbleCon {
      width: 540px;

      .col-sm {
        margin-bottom: 85px !important;
      }
    }

    .searchCon {
      .col-md-6 {
        width: 479px;
      }
    }
  }

  // 767.98px
  @media (max-width: $md) {
    .bubbleCon,
    .col-md-6 {
      width: auto;
    }
  }

  // 575.98px
  @media (max-width: $sm) {
  }
}