@use "../base/" as *;

.Con {
    height: 200px;
    position: relative;
    border: 3px solid green;

  testDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

body{
    height: 100vh;
    display:flex;
    background: azure;
  }
