@use "../base/" as *;
@use "../components/" as *;

.whatIsVPNCon {
  .hero {
    max-width: 1000px;
    margin-top: $marginNav;
  }

  .infoCon {
    .border-start:hover {
      border-color: $primary !important;
      cursor: pointer;

      h2 {
        color: black !important;
      }
    }
  }

  // 767.98px
  @media (max-width: $md) {
    .imgCon {
      margin: auto;
    }
  }
}
