@use "../base/" as *;
@use "../components/" as *;

.whatIsVPNCon {
  .hero {
    max-width: 1000px;
  }

  .heroTop {
    margin-top: $marginNav * 1.5;
  }

  .infoCon {
    .border-start:hover {
      cursor: pointer;
    }
  }

  .bulletDiv {
    margin: 0 165px 0 165px;

    ol > li::marker {
      font-weight: bold;
    }
  }

  // 767.98px
  @media (max-width: $md) {
    .imgCon {
      margin: auto;
    }
  }

  // 575.98px
  @media (max-width: $sm) {
    .bulletDiv {
      width: 95%;
    }
  }
}
