@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$theme-colors: (
  "primary": #1879C0,
  "secondary": #6C757D,
  "success": #0F866C,
);

$navLineHeight: 50px;

a, p, button[type="button"] {
  font-family: "Roboto", sans-serif;
}

button[type="button"] {
  font-weight: 500;
}

#navbar {
  height: 84px;
}

.navbar-custom {
  width: 75%;
  margin: auto;

  a {
    color: black;
    line-height: $navLineHeight;
    padding: 0;
    font-weight: 500;
  }

  button {
    height: 45px;
    width: 135px;
    margin-top: 2.5px;
  }
}

.logo {
  height: 50px;
  width: 50px;
  line-height: $navLineHeight;
}

.iconUser {
  font-size: 30px;
  line-height: $navLineHeight;
}

.bg-img {
  background-image: url("https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 75vh;
  width: 100%;
}

.hero {
  margin-top: calc(37.5vh - 174px);

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    height: 60px;
    width: 180px;
  }
}

.footerCon {
  background-color: #151922;

  // .row {
  //   width: fit-content;
  //   margin: auto;
  // }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
